name: Deploy to GCP

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m venv venv
        source venv/bin/activate
        pip install -r requirements.txt

    - name: Authenticate to Google Cloud
      id: auth
      uses: google-github-actions/auth@v0.4.0
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set environment variables
      run: |
        echo "YOUTUBE_API_KEY=${{ secrets.YOUTUBE_API_KEY }}" >> $GITHUB_ENV
        echo "MIX_MAX_TOKEN=${{ secrets.MIX_MAX_TOKEN }}" >> $GITHUB_ENV
        echo "JINGLE_SMM_KEY=${{ secrets.JINGLE_SMM_KEY }}" >> $GITHUB_ENV
        echo "GCP_SA_KEY_BASE64=${{ secrets.GCP_SA_KEY_BASE64 }}" >> $GITHUB_ENV

    - name: Deploy to App Engine
      run: |
        gcloud config set project ${{ secrets.GCP_PROJECT_ID }}
        gcloud app deploy --version=prod --quiet