scikit-learn
flask==3.0.3
flask_bcrypt
flask_login
flask-sqlalchemy
pandas
google==3.0.0
google-api-python-client
google-cloud-storage
pymongo
pytest 
pytest-flask
python-dotenv
gunicorn==20.1.0
flask_migrate