/**Normalization**/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-size: 14px;
  --darkColor: #121a21;
  --red: #FF0037;
  --white: hsl(0, 0%, 100%);
  --borderBottomColor: #758695;
  --boxShadowDefault: -1px -2px 5px var(--darkColor),
    1px 2px 5px var(--darkColor);
  --offBgColor: #17242f;
}

input,
textarea,
button {
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

button{
  &:focus {
    cursor: pointer;
    opacity: 1;
  }
}

img {
  &:hover {
    cursor: pointer;
  }
}

body {
  background: var(--darkColor);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  padding: 0.65rem;
}

/*Utilities*/
.flex-element {
  display: flex;
  align-items: center;
}

.action-text {
  color: rgba(255, 255, 255, 0.95);
  font-weight: 100;
  font-size: 0.75rem;
}

.normal-text {
  font-weight: 100;
  font-size: 0.85rem;
  color: #BEC3C8;
}

.space-down {
  margin-bottom: 0.45rem;
}

.mb-2 {
  margin-bottom: 2rem;
}
.mr-1 {
  margin-right: 10px;
}

.ml-1 {
  margin-left: 10px;
}

.mb-1 {
  margin-bottom: 1rem;
}

.center-text {
  text-align: center;
}
.w-100 {
  width: 100%;
}
/*Header Style*/
.header {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.header img {
  object-fit: contain;
  max-width: 100%;
  object-position: center;
}

.hide-sm {
  display: none;
}
.profile-image {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 200;
  margin-bottom: 2rem;
}
.jumbotron h2 {
  font-size: 2.5rem;
}

.campaign-button-box {
  display: grid;
  text-align: center;
}

.campaign-button-box button {
  margin-bottom: 0.45rem;
  background: var(--offBgColor);
}
.campaign-utils {
  margin-bottom: 0.65rem;
}

.campaign-article {
  font-size: 0.85rem;
  border: 0.5px solid gray;
  box-shadow: var(--boxShadowDefault);
  padding: 0.75rem;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.55);
}

.campaign-card p {
  margin-bottom: 0.4rem;
  line-height: 1.5;
}

.flex-slider {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  flex-flow: row nowrap;
}
.flex-slider span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-size: 12px;
}

.lg-icon {
  width: 20px;
  height: 20px;
}
.small-icon {
  width: 15px;
  height: 15px;
}

.red {
  filter: brightness(30) invert(1);
}

.duplicate {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: inherit;
  border: 0.05px solid #435260;
  padding: 10px;
}

.duplicate button {
  background: inherit;
  color: inherit;
}

.space-right {
  margin-right: 3px;
}

/*Main Container Style*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container {
  width: 300px;
}

.intro-box {
  text-align: center;
}

.google-login {
  width: 100%;
  border: 0.05px solid #435260;
  padding: 0.52rem;
  border-radius: 0.32rem;
  cursor: pointer;
  background: inherit;
  justify-content: center;
}

.google-login img {
  width: 20px;
  margin-right: 10px;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  border: none;
  text-align: center;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 0.5px;
  background: #374151;
}

/*Styling Form Elements*/

.input-container {
  display: flex;
  align-items: center;
  border: 0.05px solid #435260;
  font-size: 0.75rem;
  padding: 0.52rem;
  margin-bottom: 0.65rem;
  border-radius: 0.25rem;
}
.label-text {
  font-size: 0.65rem;
  color: rgba(255, 255, 255, 0.55);
}

.form-input {
  width: 100%;
  border: none;
  background: inherit;
  color: rgba(255, 255, 255, 0.55);
}

input::placeholder {
  font-size: 0.75rem;
  opacity: 0.75;
}

.checkbox {
  margin-right: 2px;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  border: 0.5px solid #b0b3b8;
  border-radius: 0.2rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #FF0037;
  border: 2px solid #FF0037;
}

input[type="checkbox"]:checked::after {
  content: "\2713";
  font-size: 16px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.btn-submit {
  text-align: center;
  background: #FF0037;
  color: #fff;
  width: 100%;
  padding: 0.52rem;
  border: 0;
  border-radius: 0.32rem;
}

.icon {
  filter: invert(1);
  margin-right: 2px;
}
img.icon {
  margin-right: 10px;
  height: 15px;
}
.form-hint a {
  text-decoration: underline;
  color: #fff;
}

.form-footer {
  text-align: center;
}

.form-footer p {
  font-size: 0.75rem;
  font-weight: 100;
}

/**Styling Dashboard**/
.space-between {
  justify-content: space-between;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
nav img {
  max-width: 100%;
  object-fit: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.btn {
  background: var(--red);
  color: #fff;
  padding: 8px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.btn-border {
  border: 0.05px solid #435260;
  font-size: 0.75rem;
  padding: 10px 25px;
  background: inherit;
  color: rgba(255, 255, 255, 0.55);
}

.stats p {
  margin-right: 15px;
}
.red-icon {
  color: #FF0037;
}
.green-icon {
  color: green;
}
article:nth-child(even) {
  background: black;
}

.font-400 {
  font-weight: 400;
  font-size: 1.2rem;
}

.round-edge {
  border-radius: 8px;
}

.grid-element {
  display: grid;
  gap: 4px;
}
.grid-1 {
  grid-template-columns: 1fr;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.box-shadow-default {
  border-radius: 2px;
  box-shadow: -1px -2px 5px var(--darkColor), 1px 2px 5px var(--darkColor);
  padding: 0.70rem 3rem;
  font-size: 1rem;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /*Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.55);
  overflow: auto;
}

/* Modal Content/Box */
.modal-content {
  margin: 5% auto; /* 15% from the top and centered */
  display: flex;
  flex-direction: column;
}

.modal-form-container {
  background: #121a21;
  border-radius: 0.25rem;
  padding: 10px;
}

.modal-form {
  width: 100%;
  text-align: left;
  line-height: 1.5;
  padding: 1.5rem 0.25rem;
}

.modal-form .input-container {
  border: 0.05rem solid rgb(79, 77, 77);
  background: inherit;
  border-radius: 0.15rem;
  margin-bottom: 0.65rem;
  padding: 0.45rem;
}

.hide-bg {
  display: none;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: black;
  border-radius: 0.25rem;
  padding: 0.15rem;
  min-width: 150px;
  max-width: 300px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a, .dropdown-content button.campaign_action_btn {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover, .dropdown button.campaign_action_btn:hover {
  color: var(--red);
}

.show {
  display: block;
}

.hide-show {
  display: none;
}

.btn-with-icon {
  opacity: 0.70;
  border-radius: 0.25rem;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.fa-svg {
  width: 20px;
  height: 20px;
}

/* p.close {
  font-size: 2rem;
  margin-bottom: 0.5rem;

  &:hover {
    cursor: pointer;
  }
} */

.modal-form-container {
  color: #727D89;
}

@media (min-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-item {
    max-width: 470px;
    width: 100%;
    padding: 1rem;
  }

  .modal-content {
    margin: 3% auto;
    max-width: 400px;
  }

  .campaign-button-box {
    display: flex;
  }
}

/* @media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-item {
    max-width: 600px;
    width: 100%;
    padding: 0.5rem;
  }

  .modal-content {
    margin: 3% auto;
    max-width: 500px;
  }
} */

@media (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-item {
    max-width: 1100px;
    width: 100%;
    padding: 2rem;
  }

  .jumbotron {
    flex-direction: row;
    justify-content: space-between;
  }
  .jumbotron-message {
    text-align: left;
  }

  .campaign-utils {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .campaign-button-box {
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    display: flex;
  }
  .campaign-button-box button {
    padding: 0.7rem 1rem;
  }

  .btn-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hide-sm {
    display: block;
  }

  .table-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 0.05rem solid rgb(79, 77, 77);
    padding: 1rem;
    border-radius: 0.25rem;
    border: 0.05px solid #435260;
  }

  .campaign-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    border-bottom: 1px solid rgb(79, 77, 77);
    margin-bottom: 1.5rem;
  }
  .campaign-card a {
    color: inherit;
  }

  .campaign-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-item-1 {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
  }
  .hide-lg {
    display: none;
  }

  .duplicate-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .btn-duplicate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border: 0.05px solid #435260;
    background: inherit;
    color: rgba(255, 255, 255, 0.55);
    font-size: 0.75rem;
    padding: 0.52rem;
    background: var(--darkColor);
    box-shadow: -1px -3px 2px var(--darkColor), 1px 3px 2px var(--darkColor);
    border-radius: 0.25rem;
    opacity: 0.75;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  .btn-lg {
    padding: 0.52rem;
    width: 100%;
    border-radius: 0.25rem;
  }

  /*Styling Modal for Larger screens*/

  .modal-content {
    margin: 3% auto;
    max-width: 500px;
  }

  .modal-form-container {
    background: #121a21;
    border-radius: 0.25rem;
    padding: 10px;
  }

  .modal-form {
    width: 100%;
    text-align: left;
    line-height: 1.5;
    padding: 5rem 2rem;
  }

  .modal-form .input-container {
    border: 0.02rem solid rgb(79, 77, 77);
    background: inherit;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 0.55rem;
  }

  .grid-2-lg {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .grid-4-lg {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}

input, label {
  display:block;
}